.pokemonCardDetail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.2rem;
  color: #444;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.pokemonCardDetail:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.detailPokemon-container {
  margin-top: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}